<div class="row">
  <div class="span5" style="width:50%;">
    <h1>Contact Us</h1>

    <%= form_for @contact_form, :url => contact_us_path do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :body %>
      <%= f.text_area :body, rows: 10, :class => 'input-xlarge' %>

      <br />
      <%= f.submit "Send", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  <div class="span5 pull-right">
    <h1>Other Contact Info</h1>
    <address>
      <strong>Company Name</strong><br>
      Address info 1<br>
      Address info 2<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
     
    <address>
      <strong>Full Name</strong><br>
      <a href="mailto:#">first.last@example.com</a>
    </address>
  </div>
</div>
