<h1>Feedbacks list.</h1>

<div id="feedbacks">
  <%= render @feedbacks %>
</div>

<% if current_user %>
  <h4>Add new feedback:</h4>
  <%= form_for current_user.feedbacks.new, remote: true do |f| %>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 3, class: 'input-xlarge' %>
      <br />
      <%= f.submit "Add", class: "btn btn-large btn-primary" %>
  <% end %>
<% else %>
  <%= link_to 'Login', new_user_session_path %> or
  <%= link_to 'Sign Up', new_user_registration_path %> to add feedback.
<% end %>
